
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
        <!-- Banner -->
        <div class="search_container_block main_search_block" data-background-image="{% static 'images/home_section_1.jpg' %}">
            <div class="main_inner_search_block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Đặt những trải nghiệm độc đáo</h2>
                            <h4>Khám phá những khách sạn, cửa hàng và nhà hàng được đánh giá cao nhất tại Việt Nam</h4>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="main_input_search_part">
                                    <div class="main_input_search_part_item">
                                        <input type="text" name="hotel_name" placeholder="Khách sạn, Thành phố..." value="" />
                                    </div>
                                    <div class="main_input_search_part_item main-search-input-item search-input-icon">
                                        <input type="text" name="booking_date" placeholder="Chọn ngày đặt phòng" id="booking-date-search">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <div class="main_input_search_part_item intro-search-field">
                                        <select name="tags" class="selectpicker default" title="Tất cả các danh mục" data-live-search="true">
                                            <option value="">Tất cả các danh mục</option>
                                            <option value="Thực phẩm & Nhà hàng">Thực phẩm & Nhà hàng</option>
                                            <option value="Cửa hàng & Giáo dục">Cửa hàng & Giáo dục</option>
                                            <option value="Giáo dục">Giáo dục</option>
                                            <option value="Thương mại">Thương mại</option>
                                            <option value="Sự kiện">Sự kiện</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="button">Tìm kiếm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="search-results-section margin-top-65 padding-top-75 padding-bottom-70">
            <div class="container">
                {% if search_results is not None %}
                    <div class="search-results">
                        {% if search_results %}
                            <h3 class="headline_part centered margin-bottom-45">
                                Kết quả tìm kiếm
                                <span>Những khách sạn phù hợp với tìm kiếm của bạn</span>
                            </h3>
                            <div class="row">
                                {% for h in search_results %}
                                    <div class="col-lg-4">
                                        <a href="{% url 'hotel:hotel_detail' h.slug %}" class="utf_listing_item-container compact">
                                            <div class="utf_listing_item">
                                                <img src="{{ h.image.url }}" alt="">
                                                <span class="utf_open_now">Đang mở</span>
                                                <div class="utf_listing_item_content">
                                                    <h3>{{ h.name|truncatechars:20 }}</h3>
                                                    <span><i class="fas fa-location-arrow"></i> {{ h.address }}</span>
                                                    <span><i class="fas fa-phone"></i> {{ h.mobile }}</span>
                                                </div>
                                            </div>
                                            <div class="utf_star_rating_section" data-rating="{{ h.average_rating }}">
                                                {% if h.average_rating == None %}
                                                    <div class="utf_counter_star_rating">Chưa có đánh giá nào</div>
                                                {% else %}
                                                    <div class="utf_counter_star_rating">
                                                        {{ h.average_rating }}/5 ({{ h.rating_count }} reviews)
                                                    </div>
                                                {% endif %}
                                                <span class="utf_view_count">{{ h.views }}</span>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>Không tìm thấy khách sạn nào phù hợp với tìm kiếm.</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </section>

        <section class="fullwidth_block margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f9f9f9">
            <div class="container">
                <div class="row slick_carousel_slider">
                    <div class="col-md-12">
                        <h3 class="headline_part centered margin-bottom-45">
                            Các tour du lịch phổ biến của chúng tôi
                            <span>Khám phá những địa điểm tuyệt vời nhất trong thành phố</span>
                        </h3>
                    </div>
    
                    <div class="row">
                        {% for h in popular_hotels %}
                            <div class="col-lg-4">
                                <a href="{% url 'hotel:hotel_detail' h.slug %}" class="utf_listing_item-container compact">
                                    <div class="utf_listing_item">
                                        <img src="{{ h.image.url }}" alt="">
                                        <span class="utf_open_now">Đang mở</span>
                                        <div class="utf_listing_item_content">
                                            <h3>{{ h.name|truncatechars:20 }}</h3>
                                            <span><i class="fas fa-location-arrow"></i> {{ h.address }}</span>
                                            <span><i class="fas fa-phone"></i> {{ h.mobile }}</span>
                                        </div>
                                    </div>
                                    <div class="utf_star_rating_section" data-rating="{{ h.average_rating }}">
                                        {% if h.average_rating == None %}
                                            <div class="utf_counter_star_rating">Chưa có đánh giá nào</div>
                                        {% else %}
                                            <div class="utf_counter_star_rating">
                                                {{ h.average_rating }}/5 ({{ h.rating_count }} reviews)
                                            </div>
                                        {% endif %}
                                        <span class="utf_view_count">{{ h.views }}</span>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <div class="fullwidth_block search_categorie_block">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="headline_part centered margin-top-75 margin-bottom-45">Địa điểm nổi bật hàng đầu <span>Hôm nay bạn muốn làm gì?</span> </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="category_container_item_part">
                                <a href="#" class="category_item_box">
                                    <div class="featured-type featured">
                                        Top <br>Featured
                                    </div>
                                    <img src="{% static 'images/category-box-01.jpg' %}" alt="" />
                                    <span class="category_item_box_btn">Browse</span>
                                    <div class="category_content_box_part">
                                        <h3>New York City</h3>
                                        <span>15 listings</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="category_container_item_part">
                                <a href="#" class="category_item_box"> 
					<img src="{% static 'images/category-box-02.jpg' %}" alt=""/>
					 <span class="category_item_box_btn">Browse</span>
					  <div class="category_content_box_part">
						<h3>Chicago</h3>
						<span>27 Listings</span> 
					  </div>
					</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="category_container_item_part">
                                <a href="#" class="category_item_box"> 
					  <img src="{% static 'images/category-box-03.jpg' %}" alt=""/>
					  <span class="category_item_box_btn">Browse</span>
						<div class="category_content_box_part">
						  <h3>Los Angeles</h3>
						  <span>22 Listings</span> 
						</div>
					</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="category_container_item_part">
                                <a href="#" class="category_item_box"> 
					 <img src="{% static 'images/category-box-04.jpg' %}" alt=""/> 
					 <span class="category_item_box_btn">Browse</span>
					  <div class="category_content_box_part">
						<h3>San Francisco</h3>
						<span>15 Listings</span> 
					  </div>
					</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="category_container_item_part">
                                <a href="#" class="category_item_box">
                                    <div class="featured-type featured">
                                        Top <br>Rated City
                                    </div>
                                    <img src="{% static 'images/category-box-05.jpg' %}" alt="" />
                                    <span class="category_item_box_btn">Browse</span>
                                    <div class="category_content_box_part">
                                        <h3>Washington</h3>
                                        <span>26 Listings</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="category_container_item_part">
                                <a href="#" class="category_item_box"> 
					<img src="{% static 'images/category-box-06.jpg' %}" alt=""/>
					 <span class="category_item_box_btn">Browse</span>
					  <div class="category_content_box_part">
						<h3>Seattle</h3>
						<span>27 Listings</span> 
					  </div>
					</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

       

        <section class="fullwidth_block padding-bottom-75">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="headline_part centered margin-top-80">Nó hoạt động thế nào? <span class="margin-top-10">Khám phá và kết nối với các doanh nghiệp địa phương tuyệt vời</span> </h2>
                    </div>
                </div>
                <div class="row container_icon">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="box_icon_two box_icon_with_line"> <i class="im im-icon-Map-Marker2"></i>
                            <h3>Tìm địa điểm thú vị</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque Nulla finibus.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="box_icon_two box_icon_with_line"> <i class="im im-icon-Mail-Add"></i>
                            <h3>Liên hệ với một số chủ sở hữu</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque Nulla finibus.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="box_icon_two"> <i class="im im-icon-Administrator"></i>
                            <h3>Đặt chỗ</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque Nulla finibus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="utf_testimonial_part fullwidth_block padding-top-75 padding-bottom-75">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="headline_part centered"> Khách hàng của chúng tôi nói gì <span class="margin-top-15">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since...</span> </h3>
                    </div>
                </div>
            </div>
            <div class="fullwidth_carousel_container_block margin-top-20">
                <div class="utf_testimonial_carousel testimonials">
                    <div class="utf_carousel_review_part">
                        <div class="utf_testimonial_box">
                            <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam
                                erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</div>
                        </div>
                        <div class="utf_testimonial_author"> <img src="{% static 'images/happy-client-01.jpg' %}" alt="">
                            <h4>Denwen Evil <span>Web Developer</span></h4>
                        </div>
                    </div>
                    <div class="utf_carousel_review_part">
                        <div class="utf_testimonial_box">
                            <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam
                                erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</div>
                        </div>
                        <div class="utf_testimonial_author"> <img src="{% static 'images/happy-client-02.jpg' %}" alt="">
                            <h4>Adam Alloriam <span>Web Developer</span></h4>
                        </div>
                    </div>
                    <div class="utf_carousel_review_part">
                        <div class="utf_testimonial_box">
                            <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam
                                erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</div>
                        </div>
                        <div class="utf_testimonial_author"> <img src="{% static 'images/happy-client-03.jpg' %}" alt="">
                            <h4>Illa Millia <span>Project Manager</span></h4>
                        </div>
                    </div>
                    <div class="utf_carousel_review_part">
                        <div class="utf_testimonial_box">
                            <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam
                                erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</div>
                        </div>
                        <div class="utf_testimonial_author"> <img src="{% static 'images/happy-client-01.jpg' %}" alt="">
                            <h4>Denwen Evil <span>Web Developer</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="fullwidth_block padding-top-75 padding-bottom-75" data-background-color="#ffffff">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="headline_part centered margin-bottom-50"> Mẹo & Blog của Letest<span>Khám phá và kết nối với các doanh nghiệp địa phương được đánh giá cao nhất</span></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="#" class="blog_compact_part-container">
                            <div class="blog_compact_part"> <img src="{% static 'images/blog-compact-post-01.jpg' %}" alt="">
                                <div class="blog_compact_part_content">
                                    <h3>Danh sách Địa điểm mới phổ biến nhất</h3>
                                    <ul class="blog_post_tag_part">
                                        <li>22-1-2022</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="#" class="blog_compact_part-container">
                            <div class="blog_compact_part"> <img src="{% static 'images/blog-compact-post-02.jpg' %}" alt="">
                                <div class="blog_compact_part_content">
                                    <h3>Địa điểm tổ chức sự kiện lớn nhất trong danh sách</h3>
                                    <ul class="blog_post_tag_part">
                                        <li>18-1-2022</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="#" class="blog_compact_part-container">
                            <div class="blog_compact_part"> <img src="{% static 'images/blog-compact-post-03.jpg' %}" alt="">
                                <div class="blog_compact_part_content">
                                    <h3>Top 15 ý tưởng tuyệt vời nhất cho sức khỏe và cơ thể</h3>
                                    <ul class="blog_post_tag_part">
                                        <li>10-1-2022</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="#" class="blog_compact_part-container">
                            <div class="blog_compact_part"> <img src="{% static 'images/blog-compact-post-04.jpg' %}" alt="">
                                <div class="blog_compact_part_content">
                                    <h3>Top 10 Cửa hàng quần áo tốt nhất ở Sydney</h3>
                                    <ul class="blog_post_tag_part">
                                        <li>18-1-2022</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-12 centered_content"> <a href="#" class="button border margin-top-20">Xem thêm Blog</a> </div>
                </div>
            </div>
        </section>

        <section class="fullwidth_block margin-bottom-0 padding-top-50 padding-bottom-50" data-background-color="linear-gradient(to bottom, #f9f9f9 0%, rgba(255, 255, 255, 1))">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="companie-logo-slick-carousel utf_dots_nav">
                            <div class="item">
                                <img src="{% static 'images/brand_logo_01.png' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'images/brand_logo_02.png' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'images/brand_logo_03.png' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'images/brand_logo_04.png' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'images/brand_logo_05.png' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'images/brand_logo_06.png' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'images/brand_logo_07.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="utf_cta_area_item utf_cta_area2_block">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="utf_subscribe_block clearfix">
                            <div class="col-md-8 col-sm-7">
                                <div class="section-heading">
                                    <h2 class="utf_sec_title_item utf_sec_title_item2">Đăng ký nhận tin tức!</h2>
                                    <p class="utf_sec_meta">
                                        Đăng ký để nhận thông tin và cập nhật mới nhất.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-5">
                                <div class="contact-form-action">
                                    <form method="post">
                                        <span class="la la-envelope-o"></span>
                                        <input class="form-control" type="email" placeholder="Nhập email của bạn" required="">
                                        <button class="utf_theme_btn" type="submit">Đăng ký</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock content %}
    