--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO hotel_admin;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO hotel_admin;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO hotel_admin;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO hotel_admin;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO hotel_admin;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO hotel_admin;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO hotel_admin;

--
-- Name: hotel_activitylog; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_activitylog (
    id bigint NOT NULL,
    guest_out timestamp with time zone NOT NULL,
    guest_in timestamp with time zone NOT NULL,
    description text,
    date timestamp with time zone,
    booking_id bigint NOT NULL
);


ALTER TABLE public.hotel_activitylog OWNER TO hotel_admin;

--
-- Name: hotel_activitylog_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_activitylog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_activitylog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_booking; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_booking (
    id bigint NOT NULL,
    check_in_date date NOT NULL,
    check_out_date date NOT NULL,
    is_active boolean NOT NULL,
    booking_id character varying(20) NOT NULL,
    date timestamp with time zone,
    hotel_id bigint,
    num_adults integer NOT NULL,
    num_children integer NOT NULL,
    user_id bigint,
    total numeric(12,2) NOT NULL,
    total_days integer NOT NULL,
    room_type_id bigint,
    checked_in boolean NOT NULL,
    checked_out boolean NOT NULL,
    email character varying(254),
    full_name character varying(1000),
    phone character varying(1000),
    before_discount numeric(12,2) NOT NULL,
    saved numeric(12,2) NOT NULL,
    success_id character varying(505) NOT NULL,
    payment_status character varying(100) NOT NULL,
    checked_in_tracker boolean NOT NULL,
    checked_out_tracker boolean NOT NULL,
    momo_transaction_id character varying(100),
    vnpay_transaction_id character varying(100),
    zalopay_transaction_id character varying(100),
    CONSTRAINT hotel_booking_num_adults_check CHECK ((num_adults >= 0)),
    CONSTRAINT hotel_booking_num_children_check CHECK ((num_children >= 0)),
    CONSTRAINT hotel_booking_total_days_check CHECK ((total_days >= 0))
);


ALTER TABLE public.hotel_booking OWNER TO hotel_admin;

--
-- Name: hotel_booking_coupons; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_booking_coupons (
    id bigint NOT NULL,
    booking_id bigint NOT NULL,
    coupon_id bigint NOT NULL
);


ALTER TABLE public.hotel_booking_coupons OWNER TO hotel_admin;

--
-- Name: hotel_booking_coupons_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_booking_coupons ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_booking_coupons_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_booking_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_booking ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_booking_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_booking_room; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_booking_room (
    id bigint NOT NULL,
    booking_id bigint NOT NULL,
    room_id bigint NOT NULL
);


ALTER TABLE public.hotel_booking_room OWNER TO hotel_admin;

--
-- Name: hotel_booking_room_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_booking_room ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_booking_room_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_bookmark; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_bookmark (
    id bigint NOT NULL,
    bid character varying(20) NOT NULL,
    date date NOT NULL,
    hotel_id bigint,
    user_id bigint
);


ALTER TABLE public.hotel_bookmark OWNER TO hotel_admin;

--
-- Name: hotel_bookmark_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_bookmark ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_bookmark_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_coupon; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_coupon (
    id bigint NOT NULL,
    code character varying(1000) NOT NULL,
    type character varying(100) NOT NULL,
    discount integer NOT NULL,
    redemption integer NOT NULL,
    date timestamp with time zone NOT NULL,
    active boolean NOT NULL,
    make_public boolean NOT NULL,
    valid_from date NOT NULL,
    valid_to date NOT NULL,
    cid character varying(25) NOT NULL
);


ALTER TABLE public.hotel_coupon OWNER TO hotel_admin;

--
-- Name: hotel_coupon_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_coupon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_coupon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_couponusers; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_couponusers (
    id bigint NOT NULL,
    full_name character varying(1000) NOT NULL,
    email character varying(254),
    mobile character varying(1000) NOT NULL,
    booking_id bigint NOT NULL,
    coupon_id bigint NOT NULL
);


ALTER TABLE public.hotel_couponusers OWNER TO hotel_admin;

--
-- Name: hotel_couponusers_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_couponusers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_couponusers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_hotel; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_hotel (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    image character varying(100) NOT NULL,
    address character varying(200) NOT NULL,
    mobile character varying(20) NOT NULL,
    email character varying(254),
    status character varying(10),
    views integer NOT NULL,
    featured boolean NOT NULL,
    hid character varying(20) NOT NULL,
    slug character varying(50),
    date timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT hotel_hotel_views_check CHECK ((views >= 0))
);


ALTER TABLE public.hotel_hotel OWNER TO hotel_admin;

--
-- Name: hotel_hotel_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_hotel ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_hotel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_hotelfaqs; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_hotelfaqs (
    id bigint NOT NULL,
    question character varying(1000) NOT NULL,
    answer text,
    date timestamp with time zone NOT NULL,
    hfid character varying(20) NOT NULL,
    hotel_id bigint NOT NULL
);


ALTER TABLE public.hotel_hotelfaqs OWNER TO hotel_admin;

--
-- Name: hotel_hotelfaqs_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_hotelfaqs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_hotelfaqs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_hotelfeatures; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_hotelfeatures (
    id bigint NOT NULL,
    icon_type character varying(100),
    icon character varying(100),
    name character varying(100) NOT NULL,
    hfid character varying(20) NOT NULL,
    hotel_id bigint NOT NULL
);


ALTER TABLE public.hotel_hotelfeatures OWNER TO hotel_admin;

--
-- Name: hotel_hotelfeatures_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_hotelfeatures ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_hotelfeatures_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_hotelgallery; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_hotelgallery (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    hgid character varying(20) NOT NULL,
    hotel_id bigint NOT NULL
);


ALTER TABLE public.hotel_hotelgallery OWNER TO hotel_admin;

--
-- Name: hotel_hotelgallery_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_hotelgallery ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_hotelgallery_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_notification; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_notification (
    id bigint NOT NULL,
    type character varying(100) NOT NULL,
    seen boolean NOT NULL,
    nid character varying(20) NOT NULL,
    date date NOT NULL,
    booking_id bigint,
    user_id bigint
);


ALTER TABLE public.hotel_notification OWNER TO hotel_admin;

--
-- Name: hotel_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_review; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_review (
    id bigint NOT NULL,
    review text,
    reply character varying(1000),
    rating integer NOT NULL,
    active boolean NOT NULL,
    date timestamp with time zone NOT NULL,
    hotel_id bigint,
    user_id bigint
);


ALTER TABLE public.hotel_review OWNER TO hotel_admin;

--
-- Name: hotel_review_helpful; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_review_helpful (
    id bigint NOT NULL,
    review_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.hotel_review_helpful OWNER TO hotel_admin;

--
-- Name: hotel_review_helpful_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_review_helpful ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_review_helpful_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_review_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_room; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_room (
    id bigint NOT NULL,
    room_number character varying(10) NOT NULL,
    room_type_id bigint NOT NULL,
    is_available boolean NOT NULL,
    rid character varying(20) NOT NULL,
    date timestamp with time zone NOT NULL,
    hotel_id bigint NOT NULL
);


ALTER TABLE public.hotel_room OWNER TO hotel_admin;

--
-- Name: hotel_room_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_room ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_room_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_roomservices; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_roomservices (
    id bigint NOT NULL,
    date date NOT NULL,
    service_type character varying(20) NOT NULL,
    price numeric(12,2) NOT NULL,
    booking_id bigint,
    room_id bigint NOT NULL
);


ALTER TABLE public.hotel_roomservices OWNER TO hotel_admin;

--
-- Name: hotel_roomservices_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_roomservices ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_roomservices_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_roomtype; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_roomtype (
    id bigint NOT NULL,
    type character varying(10) NOT NULL,
    price numeric(12,2) NOT NULL,
    rtid character varying(20) NOT NULL,
    date timestamp with time zone NOT NULL,
    hotel_id bigint NOT NULL,
    number_of_beds integer NOT NULL,
    slug character varying(50),
    room_capacity integer NOT NULL,
    CONSTRAINT hotel_roomtype_number_of_beds_check CHECK ((number_of_beds >= 0)),
    CONSTRAINT hotel_roomtype_room_capacity_check CHECK ((room_capacity >= 0))
);


ALTER TABLE public.hotel_roomtype OWNER TO hotel_admin;

--
-- Name: hotel_roomtype_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_roomtype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_roomtype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_staffonduty; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.hotel_staffonduty (
    id bigint NOT NULL,
    staff_id character varying(100),
    date timestamp with time zone,
    booking_id bigint NOT NULL
);


ALTER TABLE public.hotel_staffonduty OWNER TO hotel_admin;

--
-- Name: hotel_staffonduty_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.hotel_staffonduty ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_staffonduty_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: paypal_ipn; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.paypal_ipn (
    id bigint NOT NULL,
    business character varying(127) NOT NULL,
    charset character varying(255) NOT NULL,
    custom character varying(256) NOT NULL,
    notify_version numeric(64,2),
    parent_txn_id character varying(19) NOT NULL,
    receiver_email character varying(254) NOT NULL,
    receiver_id character varying(255) NOT NULL,
    residence_country character varying(2) NOT NULL,
    test_ipn boolean NOT NULL,
    txn_id character varying(255) NOT NULL,
    txn_type character varying(255) NOT NULL,
    verify_sign character varying(255) NOT NULL,
    address_country character varying(64) NOT NULL,
    address_city character varying(40) NOT NULL,
    address_country_code character varying(64) NOT NULL,
    address_name character varying(128) NOT NULL,
    address_state character varying(40) NOT NULL,
    address_status character varying(255) NOT NULL,
    address_street character varying(200) NOT NULL,
    address_zip character varying(20) NOT NULL,
    contact_phone character varying(20) NOT NULL,
    first_name character varying(64) NOT NULL,
    last_name character varying(64) NOT NULL,
    payer_business_name character varying(127) NOT NULL,
    payer_email character varying(127) NOT NULL,
    payer_id character varying(13) NOT NULL,
    auth_amount numeric(64,2),
    auth_exp character varying(28) NOT NULL,
    auth_id character varying(19) NOT NULL,
    auth_status character varying(255) NOT NULL,
    exchange_rate numeric(64,16),
    invoice character varying(127) NOT NULL,
    item_name character varying(127) NOT NULL,
    item_number character varying(127) NOT NULL,
    mc_currency character varying(32) NOT NULL,
    mc_fee numeric(64,2),
    mc_gross numeric(64,2),
    mc_handling numeric(64,2),
    mc_shipping numeric(64,2),
    memo character varying(255) NOT NULL,
    num_cart_items integer,
    option_name1 character varying(64) NOT NULL,
    option_name2 character varying(64) NOT NULL,
    payer_status character varying(255) NOT NULL,
    payment_date timestamp with time zone,
    payment_gross numeric(64,2),
    payment_status character varying(255) NOT NULL,
    payment_type character varying(255) NOT NULL,
    pending_reason character varying(255) NOT NULL,
    protection_eligibility character varying(255) NOT NULL,
    quantity integer,
    reason_code character varying(255) NOT NULL,
    remaining_settle numeric(64,2),
    settle_amount numeric(64,2),
    settle_currency character varying(32) NOT NULL,
    shipping numeric(64,2),
    shipping_method character varying(255) NOT NULL,
    tax numeric(64,2),
    transaction_entity character varying(255) NOT NULL,
    auction_buyer_id character varying(64) NOT NULL,
    auction_closing_date timestamp with time zone,
    auction_multi_item integer,
    for_auction numeric(64,2),
    amount numeric(64,2),
    amount_per_cycle numeric(64,2),
    initial_payment_amount numeric(64,2),
    next_payment_date timestamp with time zone,
    outstanding_balance numeric(64,2),
    payment_cycle character varying(255) NOT NULL,
    period_type character varying(255) NOT NULL,
    product_name character varying(255) NOT NULL,
    product_type character varying(255) NOT NULL,
    profile_status character varying(255) NOT NULL,
    recurring_payment_id character varying(255) NOT NULL,
    rp_invoice_id character varying(127) NOT NULL,
    time_created timestamp with time zone,
    amount1 numeric(64,2),
    amount2 numeric(64,2),
    amount3 numeric(64,2),
    mc_amount1 numeric(64,2),
    mc_amount2 numeric(64,2),
    mc_amount3 numeric(64,2),
    password character varying(24) NOT NULL,
    period1 character varying(255) NOT NULL,
    period2 character varying(255) NOT NULL,
    period3 character varying(255) NOT NULL,
    reattempt character varying(1) NOT NULL,
    recur_times integer,
    recurring character varying(1) NOT NULL,
    retry_at timestamp with time zone,
    subscr_date timestamp with time zone,
    subscr_effective timestamp with time zone,
    subscr_id character varying(19) NOT NULL,
    username character varying(64) NOT NULL,
    case_creation_date timestamp with time zone,
    case_id character varying(255) NOT NULL,
    case_type character varying(255) NOT NULL,
    receipt_id character varying(255) NOT NULL,
    currency_code character varying(32) NOT NULL,
    handling_amount numeric(64,2),
    transaction_subject character varying(256) NOT NULL,
    ipaddress inet,
    flag boolean NOT NULL,
    flag_code character varying(16) NOT NULL,
    flag_info text NOT NULL,
    query text NOT NULL,
    response text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    from_view character varying(6),
    mp_id character varying(128),
    option_selection1 character varying(200) NOT NULL,
    option_selection2 character varying(200) NOT NULL
);


ALTER TABLE public.paypal_ipn OWNER TO hotel_admin;

--
-- Name: paypal_ipn_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.paypal_ipn ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.paypal_ipn_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: taggit_tag; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.taggit_tag (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(100) NOT NULL
);


ALTER TABLE public.taggit_tag OWNER TO hotel_admin;

--
-- Name: taggit_tag_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.taggit_tag ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.taggit_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: taggit_taggeditem; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.taggit_taggeditem (
    id integer NOT NULL,
    object_id integer NOT NULL,
    content_type_id integer NOT NULL,
    tag_id integer NOT NULL
);


ALTER TABLE public.taggit_taggeditem OWNER TO hotel_admin;

--
-- Name: taggit_taggeditem_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.taggit_taggeditem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.taggit_taggeditem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userauths_profile; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.userauths_profile (
    id bigint NOT NULL,
    pid character varying(25) NOT NULL,
    image character varying(100),
    full_name character varying(1000),
    phone character varying(100),
    gender character varying(100),
    country character varying(100),
    city character varying(100),
    state character varying(100),
    address character varying(1000),
    identity_type character varying(100),
    identity_image character varying(100),
    facebook character varying(200),
    twitter character varying(200),
    verified boolean NOT NULL,
    date timestamp with time zone,
    user_id bigint NOT NULL,
    wallet numeric(12,2) NOT NULL
);


ALTER TABLE public.userauths_profile OWNER TO hotel_admin;

--
-- Name: userauths_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.userauths_profile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userauths_profile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userauths_user; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.userauths_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    full_name character varying(1000),
    username character varying(100),
    email character varying(254) NOT NULL,
    phone character varying(100),
    gender character varying(100),
    otp character varying(100)
);


ALTER TABLE public.userauths_user OWNER TO hotel_admin;

--
-- Name: userauths_user_groups; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.userauths_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.userauths_user_groups OWNER TO hotel_admin;

--
-- Name: userauths_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.userauths_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userauths_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userauths_user_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.userauths_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userauths_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userauths_user_user_permissions; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.userauths_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.userauths_user_user_permissions OWNER TO hotel_admin;

--
-- Name: userauths_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

ALTER TABLE public.userauths_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userauths_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
12	hotel	booking
6	hotel	hotel
11	hotel	room
17	hotel	roomservices
7	hotel	hotelgallery
8	hotel	hotelfeatures
9	hotel	hotelfaqs
10	hotel	roomtype
14	hotel	staffonduty
13	hotel	activitylog
15	hotel	coupon
16	hotel	couponusers
18	hotel	notification
19	hotel	bookmark
20	hotel	review
21	userauths	user
22	userauths	profile
23	taggit	tag
24	taggit	taggeditem
25	ipn	paypalipn
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--



--
-- Data for Name: hotel_activitylog; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_activitylog (id, guest_out, guest_in, description, date, booking_id) FROM stdin;
\.


--
-- Data for Name: hotel_booking; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--



--
-- Data for Name: hotel_booking_coupons; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_booking_coupons (id, booking_id, coupon_id) FROM stdin;
\.


--
-- Data for Name: hotel_booking_room; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_booking_room (id, booking_id, room_id) FROM stdin;
1	1	1
2	2	1
3	3	1
4	4	3
5	5	1
6	6	2
7	7	2
8	8	2
9	9	2
10	10	2
11	11	2
12	12	2
13	13	2
14	14	2
15	14	1
16	15	2
17	15	1
18	16	1
19	17	1
\.


--
-- Data for Name: hotel_bookmark; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_bookmark (id, bid, date, hotel_id, user_id) FROM stdin;
\.


--
-- Data for Name: hotel_coupon; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_coupon (id, code, type, discount, redemption, date, active, make_public, valid_from, valid_to, cid) FROM stdin;
\.


--
-- Data for Name: hotel_couponusers; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_couponusers (id, full_name, email, mobile, booking_id, coupon_id) FROM stdin;
\.


--
-- Data for Name: hotel_hotel; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--



--
-- Data for Name: hotel_hotelfaqs; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_hotelfaqs (id, question, answer, date, hfid, hotel_id) FROM stdin;
\.


--
-- Data for Name: hotel_hotelfeatures; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_hotelfeatures (id, icon_type, icon, name, hfid, hotel_id) FROM stdin;
1	Bootstap Icons	\N	Bootstap	kyqzntputo	1
2	Fontawesome Icons	\N	Fontawesome	usovssbyhx	1
\.


--
-- Data for Name: hotel_hotelgallery; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_hotelgallery (id, image, hgid, hotel_id) FROM stdin;
1	hotel_gallery/2.jpg	rtizmkylgy	1
2	hotel_gallery/3.jpg	mexicbgyru	1
3	hotel_gallery/4.jpg	tvqncasbsy	1
\.


--
-- Data for Name: hotel_notification; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_notification (id, type, seen, nid, date, booking_id, user_id) FROM stdin;
\.


--
-- Data for Name: hotel_review; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_review (id, review, reply, rating, active, date, hotel_id, user_id) FROM stdin;
3	qqq	\N	4	t	2025-04-02 01:26:18.489725+07	1	1
2	qqq	\N	4	t	2025-04-02 01:22:13.469592+07	1	3
1		\N	4	t	2025-04-01 12:04:45.15783+07	1	1
\.


--
-- Data for Name: hotel_review_helpful; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_review_helpful (id, review_id, user_id) FROM stdin;
\.


--
-- Data for Name: hotel_room; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_room (id, room_number, room_type_id, is_available, rid, date, hotel_id) FROM stdin;
1	5	1	t	aahqhegzre	2025-04-02 00:59:32.274752+07	1
2	7	2	t	xsqyyurdhs	2025-04-02 00:59:32.277176+07	1
3	3	3	t	tllipupqdd	2025-04-02 00:59:32.277691+07	1
\.


--
-- Data for Name: hotel_roomservices; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_roomservices (id, date, service_type, price, booking_id, room_id) FROM stdin;
\.


--
-- Data for Name: hotel_roomtype; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_roomtype (id, type, price, rtid, date, hotel_id, number_of_beds, slug, room_capacity) FROM stdin;
1	Đơn	1457000.00	hlrqsrutof	2025-03-26 19:15:13.083545+07	1	1	king-zwg9	1
2	Đôi	1945000.00	synzzhreyq	2025-04-02 00:58:45.82778+07	1	1	oi-jgxt	2
3	Gia đình	3212000.00	eakgjklnsd	2025-04-02 00:58:45.832436+07	1	2	gia-inh-ubas	5
\.


--
-- Data for Name: hotel_staffonduty; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.hotel_staffonduty (id, staff_id, date, booking_id) FROM stdin;
\.


--
-- Data for Name: paypal_ipn; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--



--
-- Data for Name: taggit_tag; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.taggit_tag (id, name, slug) FROM stdin;
1	2 nhà hàng	2-nhà-hàng
2	Bãi đỗ xe riêng	bãi-đỗ-xe-riêng
3	Bữa sáng	bữa-sáng
4	Cho phép mang theo vật nuôi	cho-phép-mang-theo-vật-nuôi
5	Căn hộ	căn-hộ
6	Dịch vụ phòng	dịch-vụ-phòng
7	Dịch vụ đưa đón sân bay (miễn phí)	dịch-vụ-đưa-đón-sân-bay-miễn-phí
8	Phòng gia đình	phòng-gia-đình
9	Trung tâm thể dục	trung-tâm-thể-dục
10	WiFi miễn phí	wifi-miễn-phí
\.


--
-- Data for Name: taggit_taggeditem; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.taggit_taggeditem (id, object_id, content_type_id, tag_id) FROM stdin;
1	1	6	1
2	1	6	2
3	1	6	3
4	1	6	4
5	1	6	5
6	1	6	6
7	1	6	7
8	1	6	8
9	1	6	9
10	1	6	10
\.


--
-- Data for Name: userauths_profile; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--



--
-- Data for Name: userauths_user; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--



--
-- Data for Name: userauths_user_groups; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.userauths_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: userauths_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.userauths_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 100, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 12, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 25, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 71, true);


--
-- Name: hotel_activitylog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_activitylog_id_seq', 1, false);


--
-- Name: hotel_booking_coupons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_booking_coupons_id_seq', 1, false);


--
-- Name: hotel_booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_booking_id_seq', 17, true);


--
-- Name: hotel_booking_room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_booking_room_id_seq', 19, true);


--
-- Name: hotel_bookmark_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_bookmark_id_seq', 1, true);


--
-- Name: hotel_coupon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_coupon_id_seq', 1, false);


--
-- Name: hotel_couponusers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_couponusers_id_seq', 1, false);


--
-- Name: hotel_hotel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_hotel_id_seq', 1, true);


--
-- Name: hotel_hotelfaqs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_hotelfaqs_id_seq', 1, false);


--
-- Name: hotel_hotelfeatures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_hotelfeatures_id_seq', 2, true);


--
-- Name: hotel_hotelgallery_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_hotelgallery_id_seq', 3, true);


--
-- Name: hotel_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_notification_id_seq', 1, false);


--
-- Name: hotel_review_helpful_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_review_helpful_id_seq', 1, false);


--
-- Name: hotel_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_review_id_seq', 3, true);


--
-- Name: hotel_room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_room_id_seq', 3, true);


--
-- Name: hotel_roomservices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_roomservices_id_seq', 1, false);


--
-- Name: hotel_roomtype_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_roomtype_id_seq', 3, true);


--
-- Name: hotel_staffonduty_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.hotel_staffonduty_id_seq', 1, false);


--
-- Name: paypal_ipn_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.paypal_ipn_id_seq', 1, false);


--
-- Name: taggit_tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.taggit_tag_id_seq', 10, true);


--
-- Name: taggit_taggeditem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.taggit_taggeditem_id_seq', 10, true);


--
-- Name: userauths_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.userauths_profile_id_seq', 4, true);


--
-- Name: userauths_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.userauths_user_groups_id_seq', 1, false);


--
-- Name: userauths_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.userauths_user_id_seq', 4, true);


--
-- Name: userauths_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.userauths_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: hotel_activitylog hotel_activitylog_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_activitylog
    ADD CONSTRAINT hotel_activitylog_pkey PRIMARY KEY (id);


--
-- Name: hotel_booking hotel_booking_booking_id_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_booking
    ADD CONSTRAINT hotel_booking_booking_id_key UNIQUE (booking_id);


--
-- Name: hotel_booking_coupons hotel_booking_coupons_booking_id_coupon_id_75675574_uniq; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_booking_coupons
    ADD CONSTRAINT hotel_booking_coupons_booking_id_coupon_id_75675574_uniq UNIQUE (booking_id, coupon_id);


--
-- Name: hotel_booking_coupons hotel_booking_coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_booking_coupons
    ADD CONSTRAINT hotel_booking_coupons_pkey PRIMARY KEY (id);


--
-- Name: hotel_booking hotel_booking_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_booking
    ADD CONSTRAINT hotel_booking_pkey PRIMARY KEY (id);


--
-- Name: hotel_booking_room hotel_booking_room_booking_id_room_id_84803b67_uniq; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_booking_room
    ADD CONSTRAINT hotel_booking_room_booking_id_room_id_84803b67_uniq UNIQUE (booking_id, room_id);


--
-- Name: hotel_booking_room hotel_booking_room_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_booking_room
    ADD CONSTRAINT hotel_booking_room_pkey PRIMARY KEY (id);


--
-- Name: hotel_bookmark hotel_bookmark_bid_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_bookmark
    ADD CONSTRAINT hotel_bookmark_bid_key UNIQUE (bid);


--
-- Name: hotel_bookmark hotel_bookmark_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_bookmark
    ADD CONSTRAINT hotel_bookmark_pkey PRIMARY KEY (id);


--
-- Name: hotel_coupon hotel_coupon_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_coupon
    ADD CONSTRAINT hotel_coupon_pkey PRIMARY KEY (id);


--
-- Name: hotel_couponusers hotel_couponusers_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_couponusers
    ADD CONSTRAINT hotel_couponusers_pkey PRIMARY KEY (id);


--
-- Name: hotel_hotel hotel_hotel_hid_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_hotel
    ADD CONSTRAINT hotel_hotel_hid_key UNIQUE (hid);


--
-- Name: hotel_hotel hotel_hotel_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_hotel
    ADD CONSTRAINT hotel_hotel_pkey PRIMARY KEY (id);


--
-- Name: hotel_hotelfaqs hotel_hotelfaqs_hfid_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_hotelfaqs
    ADD CONSTRAINT hotel_hotelfaqs_hfid_key UNIQUE (hfid);


--
-- Name: hotel_hotelfaqs hotel_hotelfaqs_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_hotelfaqs
    ADD CONSTRAINT hotel_hotelfaqs_pkey PRIMARY KEY (id);


--
-- Name: hotel_hotelfeatures hotel_hotelfeatures_hfid_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_hotelfeatures
    ADD CONSTRAINT hotel_hotelfeatures_hfid_key UNIQUE (hfid);


--
-- Name: hotel_hotelfeatures hotel_hotelfeatures_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_hotelfeatures
    ADD CONSTRAINT hotel_hotelfeatures_pkey PRIMARY KEY (id);


--
-- Name: hotel_hotelgallery hotel_hotelgallery_hgid_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_hotelgallery
    ADD CONSTRAINT hotel_hotelgallery_hgid_key UNIQUE (hgid);


--
-- Name: hotel_hotelgallery hotel_hotelgallery_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_hotelgallery
    ADD CONSTRAINT hotel_hotelgallery_pkey PRIMARY KEY (id);


--
-- Name: hotel_notification hotel_notification_nid_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_notification
    ADD CONSTRAINT hotel_notification_nid_key UNIQUE (nid);


--
-- Name: hotel_notification hotel_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_notification
    ADD CONSTRAINT hotel_notification_pkey PRIMARY KEY (id);


--
-- Name: hotel_review_helpful hotel_review_helpful_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_review_helpful
    ADD CONSTRAINT hotel_review_helpful_pkey PRIMARY KEY (id);


--
-- Name: hotel_review_helpful hotel_review_helpful_review_id_user_id_16810bfd_uniq; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_review_helpful
    ADD CONSTRAINT hotel_review_helpful_review_id_user_id_16810bfd_uniq UNIQUE (review_id, user_id);


--
-- Name: hotel_review hotel_review_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_review
    ADD CONSTRAINT hotel_review_pkey PRIMARY KEY (id);


--
-- Name: hotel_room hotel_room_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_room
    ADD CONSTRAINT hotel_room_pkey PRIMARY KEY (id);


--
-- Name: hotel_room hotel_room_rid_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_room
    ADD CONSTRAINT hotel_room_rid_key UNIQUE (rid);


--
-- Name: hotel_roomservices hotel_roomservices_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_roomservices
    ADD CONSTRAINT hotel_roomservices_pkey PRIMARY KEY (id);


--
-- Name: hotel_roomtype hotel_roomtype_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_roomtype
    ADD CONSTRAINT hotel_roomtype_pkey PRIMARY KEY (id);


--
-- Name: hotel_roomtype hotel_roomtype_rid_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_roomtype
    ADD CONSTRAINT hotel_roomtype_rid_key UNIQUE (rtid);


--
-- Name: hotel_staffonduty hotel_staffonduty_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_staffonduty
    ADD CONSTRAINT hotel_staffonduty_pkey PRIMARY KEY (id);


--
-- Name: paypal_ipn paypal_ipn_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.paypal_ipn
    ADD CONSTRAINT paypal_ipn_pkey PRIMARY KEY (id);


--
-- Name: taggit_tag taggit_tag_name_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.taggit_tag
    ADD CONSTRAINT taggit_tag_name_key UNIQUE (name);


--
-- Name: taggit_tag taggit_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.taggit_tag
    ADD CONSTRAINT taggit_tag_pkey PRIMARY KEY (id);


--
-- Name: taggit_tag taggit_tag_slug_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.taggit_tag
    ADD CONSTRAINT taggit_tag_slug_key UNIQUE (slug);


--
-- Name: taggit_taggeditem taggit_taggeditem_content_type_id_object_id_tag_id_4bb97a8e_uni; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_content_type_id_object_id_tag_id_4bb97a8e_uni UNIQUE (content_type_id, object_id, tag_id);


--
-- Name: taggit_taggeditem taggit_taggeditem_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_pkey PRIMARY KEY (id);


--
-- Name: userauths_profile userauths_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.userauths_profile
    ADD CONSTRAINT userauths_profile_pkey PRIMARY KEY (id);


--
-- Name: userauths_profile userauths_profile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.userauths_profile
    ADD CONSTRAINT userauths_profile_user_id_key UNIQUE (user_id);


--
-- Name: userauths_user userauths_user_email_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.userauths_user
    ADD CONSTRAINT userauths_user_email_key UNIQUE (email);


--
-- Name: userauths_user_groups userauths_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.userauths_user_groups
    ADD CONSTRAINT userauths_user_groups_pkey PRIMARY KEY (id);


--
-- Name: userauths_user_groups userauths_user_groups_user_id_group_id_e032b670_uniq; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.userauths_user_groups
    ADD CONSTRAINT userauths_user_groups_user_id_group_id_e032b670_uniq UNIQUE (user_id, group_id);


--
-- Name: userauths_user userauths_user_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.userauths_user
    ADD CONSTRAINT userauths_user_pkey PRIMARY KEY (id);


--
-- Name: userauths_user_user_permissions userauths_user_user_perm_user_id_permission_id_5423ee7a_uniq; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.userauths_user_user_permissions
    ADD CONSTRAINT userauths_user_user_perm_user_id_permission_id_5423ee7a_uniq UNIQUE (user_id, permission_id);


--
-- Name: userauths_user_user_permissions userauths_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.userauths_user_user_permissions
    ADD CONSTRAINT userauths_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: hotel_activitylog_booking_id_728dbb95; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_activitylog_booking_id_728dbb95 ON public.hotel_activitylog USING btree (booking_id);


--
-- Name: hotel_booking_booking_id_0affcb07_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_booking_booking_id_0affcb07_like ON public.hotel_booking USING btree (booking_id varchar_pattern_ops);


--
-- Name: hotel_booking_coupons_booking_id_6573f114; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_booking_coupons_booking_id_6573f114 ON public.hotel_booking_coupons USING btree (booking_id);


--
-- Name: hotel_booking_coupons_coupon_id_a309a0c1; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_booking_coupons_coupon_id_a309a0c1 ON public.hotel_booking_coupons USING btree (coupon_id);


--
-- Name: hotel_booking_hotel_id_dc04efe3; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_booking_hotel_id_dc04efe3 ON public.hotel_booking USING btree (hotel_id);


--
-- Name: hotel_booking_room_booking_id_61fa1c4b; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_booking_room_booking_id_61fa1c4b ON public.hotel_booking_room USING btree (booking_id);


--
-- Name: hotel_booking_room_room_id_0ca3afd2; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_booking_room_room_id_0ca3afd2 ON public.hotel_booking_room USING btree (room_id);


--
-- Name: hotel_booking_room_type_id_0d3f38d2; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_booking_room_type_id_0d3f38d2 ON public.hotel_booking USING btree (room_type_id);


--
-- Name: hotel_booking_user_id_2a2702b8; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_booking_user_id_2a2702b8 ON public.hotel_booking USING btree (user_id);


--
-- Name: hotel_bookmark_bid_258408c0_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_bookmark_bid_258408c0_like ON public.hotel_bookmark USING btree (bid varchar_pattern_ops);


--
-- Name: hotel_bookmark_hotel_id_5cf60386; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_bookmark_hotel_id_5cf60386 ON public.hotel_bookmark USING btree (hotel_id);


--
-- Name: hotel_bookmark_user_id_d6979361; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_bookmark_user_id_d6979361 ON public.hotel_bookmark USING btree (user_id);


--
-- Name: hotel_couponusers_booking_id_4ec3f5fb; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_couponusers_booking_id_4ec3f5fb ON public.hotel_couponusers USING btree (booking_id);


--
-- Name: hotel_couponusers_coupon_id_6aed3d72; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_couponusers_coupon_id_6aed3d72 ON public.hotel_couponusers USING btree (coupon_id);


--
-- Name: hotel_hotel_hid_6812aa5e_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_hotel_hid_6812aa5e_like ON public.hotel_hotel USING btree (hid varchar_pattern_ops);


--
-- Name: hotel_hotel_slug_9adc6dfc; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_hotel_slug_9adc6dfc ON public.hotel_hotel USING btree (slug);


--
-- Name: hotel_hotel_slug_9adc6dfc_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_hotel_slug_9adc6dfc_like ON public.hotel_hotel USING btree (slug varchar_pattern_ops);


--
-- Name: hotel_hotel_user_id_22831f53; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_hotel_user_id_22831f53 ON public.hotel_hotel USING btree (user_id);


--
-- Name: hotel_hotelfaqs_hfid_91110ae9_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_hotelfaqs_hfid_91110ae9_like ON public.hotel_hotelfaqs USING btree (hfid varchar_pattern_ops);


--
-- Name: hotel_hotelfaqs_hotel_id_bc41a234; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_hotelfaqs_hotel_id_bc41a234 ON public.hotel_hotelfaqs USING btree (hotel_id);


--
-- Name: hotel_hotelfeatures_hfid_14af2e11_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_hotelfeatures_hfid_14af2e11_like ON public.hotel_hotelfeatures USING btree (hfid varchar_pattern_ops);


--
-- Name: hotel_hotelfeatures_hotel_id_8f1591cb; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_hotelfeatures_hotel_id_8f1591cb ON public.hotel_hotelfeatures USING btree (hotel_id);


--
-- Name: hotel_hotelgallery_hgid_058eb59e_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_hotelgallery_hgid_058eb59e_like ON public.hotel_hotelgallery USING btree (hgid varchar_pattern_ops);


--
-- Name: hotel_hotelgallery_hotel_id_6c5433aa; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_hotelgallery_hotel_id_6c5433aa ON public.hotel_hotelgallery USING btree (hotel_id);


--
-- Name: hotel_notification_booking_id_c62798a7; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_notification_booking_id_c62798a7 ON public.hotel_notification USING btree (booking_id);


--
-- Name: hotel_notification_nid_4247adb2_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_notification_nid_4247adb2_like ON public.hotel_notification USING btree (nid varchar_pattern_ops);


--
-- Name: hotel_notification_user_id_32a78950; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_notification_user_id_32a78950 ON public.hotel_notification USING btree (user_id);


--
-- Name: hotel_review_helpful_review_id_a1a5bb1c; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_review_helpful_review_id_a1a5bb1c ON public.hotel_review_helpful USING btree (review_id);


--
-- Name: hotel_review_helpful_user_id_97be73f9; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_review_helpful_user_id_97be73f9 ON public.hotel_review_helpful USING btree (user_id);


--
-- Name: hotel_review_hotel_id_84b7e376; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_review_hotel_id_84b7e376 ON public.hotel_review USING btree (hotel_id);


--
-- Name: hotel_review_user_id_aba6c0af; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_review_user_id_aba6c0af ON public.hotel_review USING btree (user_id);


--
-- Name: hotel_room_hotel_id_c05078e5; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_room_hotel_id_c05078e5 ON public.hotel_room USING btree (hotel_id);


--
-- Name: hotel_room_rid_2172ed87_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_room_rid_2172ed87_like ON public.hotel_room USING btree (rid varchar_pattern_ops);


--
-- Name: hotel_room_room_type_id_8d455d55; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_room_room_type_id_8d455d55 ON public.hotel_room USING btree (room_type_id);


--
-- Name: hotel_roomservices_booking_id_384f0f77; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_roomservices_booking_id_384f0f77 ON public.hotel_roomservices USING btree (booking_id);


--
-- Name: hotel_roomservices_room_id_b9919e09; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_roomservices_room_id_b9919e09 ON public.hotel_roomservices USING btree (room_id);


--
-- Name: hotel_roomtype_hotel_id_1151ebc0; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_roomtype_hotel_id_1151ebc0 ON public.hotel_roomtype USING btree (hotel_id);


--
-- Name: hotel_roomtype_rid_4f764a23_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_roomtype_rid_4f764a23_like ON public.hotel_roomtype USING btree (rtid varchar_pattern_ops);


--
-- Name: hotel_roomtype_slug_e72829f6; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_roomtype_slug_e72829f6 ON public.hotel_roomtype USING btree (slug);


--
-- Name: hotel_roomtype_slug_e72829f6_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_roomtype_slug_e72829f6_like ON public.hotel_roomtype USING btree (slug varchar_pattern_ops);


--
-- Name: hotel_staffonduty_booking_id_f29e5cc7; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX hotel_staffonduty_booking_id_f29e5cc7 ON public.hotel_staffonduty USING btree (booking_id);


--
-- Name: paypal_ipn_txn_id_8fa22c44; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX paypal_ipn_txn_id_8fa22c44 ON public.paypal_ipn USING btree (txn_id);


--
-- Name: paypal_ipn_txn_id_8fa22c44_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX paypal_ipn_txn_id_8fa22c44_like ON public.paypal_ipn USING btree (txn_id varchar_pattern_ops);


--
-- Name: taggit_tag_name_58eb2ed9_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX taggit_tag_name_58eb2ed9_like ON public.taggit_tag USING btree (name varchar_pattern_ops);


--
-- Name: taggit_tag_slug_6be58b2c_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX taggit_tag_slug_6be58b2c_like ON public.taggit_tag USING btree (slug varchar_pattern_ops);


--
-- Name: taggit_tagg_content_8fc721_idx; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX taggit_tagg_content_8fc721_idx ON public.taggit_taggeditem USING btree (content_type_id, object_id);


--
-- Name: taggit_taggeditem_content_type_id_9957a03c; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX taggit_taggeditem_content_type_id_9957a03c ON public.taggit_taggeditem USING btree (content_type_id);


--
-- Name: taggit_taggeditem_object_id_e2d7d1df; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX taggit_taggeditem_object_id_e2d7d1df ON public.taggit_taggeditem USING btree (object_id);


--
-- Name: taggit_taggeditem_tag_id_f4f5b767; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX taggit_taggeditem_tag_id_f4f5b767 ON public.taggit_taggeditem USING btree (tag_id);


--
-- Name: userauths_user_email_5e5b59e6_like; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX userauths_user_email_5e5b59e6_like ON public.userauths_user USING btree (email varchar_pattern_ops);


--
-- Name: userauths_user_groups_group_id_2bd3d457; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX userauths_user_groups_group_id_2bd3d457 ON public.userauths_user_groups USING btree (group_id);


--
-- Name: userauths_user_groups_user_id_70ad3415; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX userauths_user_groups_user_id_70ad3415 ON public.userauths_user_groups USING btree (user_id);


--
-- Name: userauths_user_user_permissions_permission_id_0e980ebe; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX userauths_user_user_permissions_permission_id_0e980ebe ON public.userauths_user_user_permissions USING btree (permission_id);


--
-- Name: userauths_user_user_permissions_user_id_7dc84ca3; Type: INDEX; Schema: public; Owner: hotel_admin
--

CREATE INDEX userauths_user_user_permissions_user_id_7dc84ca3 ON public.userauths_user_user_permissions USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_activitylog hotel_activitylog_booking_id_728dbb95_fk_hotel_booking_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_activitylog
    ADD CONSTRAINT hotel_activitylog_booking_id_728dbb95_fk_hotel_booking_id FOREIGN KEY (booking_id) REFERENCES public.hotel_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking_coupons hotel_booking_coupons_booking_id_6573f114_fk_hotel_booking_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_booking_coupons
    ADD CONSTRAINT hotel_booking_coupons_booking_id_6573f114_fk_hotel_booking_id FOREIGN KEY (booking_id) REFERENCES public.hotel_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking_coupons hotel_booking_coupons_coupon_id_a309a0c1_fk_hotel_coupon_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_booking_coupons
    ADD CONSTRAINT hotel_booking_coupons_coupon_id_a309a0c1_fk_hotel_coupon_id FOREIGN KEY (coupon_id) REFERENCES public.hotel_coupon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking hotel_booking_hotel_id_dc04efe3_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_booking
    ADD CONSTRAINT hotel_booking_hotel_id_dc04efe3_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking_room hotel_booking_room_booking_id_61fa1c4b_fk_hotel_booking_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_booking_room
    ADD CONSTRAINT hotel_booking_room_booking_id_61fa1c4b_fk_hotel_booking_id FOREIGN KEY (booking_id) REFERENCES public.hotel_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking_room hotel_booking_room_room_id_0ca3afd2_fk_hotel_room_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_booking_room
    ADD CONSTRAINT hotel_booking_room_room_id_0ca3afd2_fk_hotel_room_id FOREIGN KEY (room_id) REFERENCES public.hotel_room(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking hotel_booking_room_type_id_0d3f38d2_fk_hotel_roomtype_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_booking
    ADD CONSTRAINT hotel_booking_room_type_id_0d3f38d2_fk_hotel_roomtype_id FOREIGN KEY (room_type_id) REFERENCES public.hotel_roomtype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking hotel_booking_user_id_2a2702b8_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_booking
    ADD CONSTRAINT hotel_booking_user_id_2a2702b8_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_bookmark hotel_bookmark_hotel_id_5cf60386_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_bookmark
    ADD CONSTRAINT hotel_bookmark_hotel_id_5cf60386_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_bookmark hotel_bookmark_user_id_d6979361_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_bookmark
    ADD CONSTRAINT hotel_bookmark_user_id_d6979361_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_couponusers hotel_couponusers_booking_id_4ec3f5fb_fk_hotel_booking_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_couponusers
    ADD CONSTRAINT hotel_couponusers_booking_id_4ec3f5fb_fk_hotel_booking_id FOREIGN KEY (booking_id) REFERENCES public.hotel_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_couponusers hotel_couponusers_coupon_id_6aed3d72_fk_hotel_coupon_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_couponusers
    ADD CONSTRAINT hotel_couponusers_coupon_id_6aed3d72_fk_hotel_coupon_id FOREIGN KEY (coupon_id) REFERENCES public.hotel_coupon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_hotel hotel_hotel_user_id_22831f53_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_hotel
    ADD CONSTRAINT hotel_hotel_user_id_22831f53_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_hotelfaqs hotel_hotelfaqs_hotel_id_bc41a234_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_hotelfaqs
    ADD CONSTRAINT hotel_hotelfaqs_hotel_id_bc41a234_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_hotelfeatures hotel_hotelfeatures_hotel_id_8f1591cb_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_hotelfeatures
    ADD CONSTRAINT hotel_hotelfeatures_hotel_id_8f1591cb_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_hotelgallery hotel_hotelgallery_hotel_id_6c5433aa_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_hotelgallery
    ADD CONSTRAINT hotel_hotelgallery_hotel_id_6c5433aa_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_notification hotel_notification_booking_id_c62798a7_fk_hotel_booking_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_notification
    ADD CONSTRAINT hotel_notification_booking_id_c62798a7_fk_hotel_booking_id FOREIGN KEY (booking_id) REFERENCES public.hotel_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_notification hotel_notification_user_id_32a78950_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_notification
    ADD CONSTRAINT hotel_notification_user_id_32a78950_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_review_helpful hotel_review_helpful_review_id_a1a5bb1c_fk_hotel_review_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_review_helpful
    ADD CONSTRAINT hotel_review_helpful_review_id_a1a5bb1c_fk_hotel_review_id FOREIGN KEY (review_id) REFERENCES public.hotel_review(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_review_helpful hotel_review_helpful_user_id_97be73f9_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_review_helpful
    ADD CONSTRAINT hotel_review_helpful_user_id_97be73f9_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_review hotel_review_hotel_id_84b7e376_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_review
    ADD CONSTRAINT hotel_review_hotel_id_84b7e376_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_review hotel_review_user_id_aba6c0af_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_review
    ADD CONSTRAINT hotel_review_user_id_aba6c0af_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_room hotel_room_hotel_id_c05078e5_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_room
    ADD CONSTRAINT hotel_room_hotel_id_c05078e5_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_room hotel_room_room_type_id_8d455d55_fk_hotel_roomtype_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_room
    ADD CONSTRAINT hotel_room_room_type_id_8d455d55_fk_hotel_roomtype_id FOREIGN KEY (room_type_id) REFERENCES public.hotel_roomtype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomservices hotel_roomservices_booking_id_384f0f77_fk_hotel_booking_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_roomservices
    ADD CONSTRAINT hotel_roomservices_booking_id_384f0f77_fk_hotel_booking_id FOREIGN KEY (booking_id) REFERENCES public.hotel_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomservices hotel_roomservices_room_id_b9919e09_fk_hotel_room_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_roomservices
    ADD CONSTRAINT hotel_roomservices_room_id_b9919e09_fk_hotel_room_id FOREIGN KEY (room_id) REFERENCES public.hotel_room(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomtype hotel_roomtype_hotel_id_1151ebc0_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_roomtype
    ADD CONSTRAINT hotel_roomtype_hotel_id_1151ebc0_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_staffonduty hotel_staffonduty_booking_id_f29e5cc7_fk_hotel_booking_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.hotel_staffonduty
    ADD CONSTRAINT hotel_staffonduty_booking_id_f29e5cc7_fk_hotel_booking_id FOREIGN KEY (booking_id) REFERENCES public.hotel_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: taggit_taggeditem taggit_taggeditem_content_type_id_9957a03c_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_content_type_id_9957a03c_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: taggit_taggeditem taggit_taggeditem_tag_id_f4f5b767_fk_taggit_tag_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_tag_id_f4f5b767_fk_taggit_tag_id FOREIGN KEY (tag_id) REFERENCES public.taggit_tag(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userauths_profile userauths_profile_user_id_bdea9f7e_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.userauths_profile
    ADD CONSTRAINT userauths_profile_user_id_bdea9f7e_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userauths_user_groups userauths_user_groups_group_id_2bd3d457_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.userauths_user_groups
    ADD CONSTRAINT userauths_user_groups_group_id_2bd3d457_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userauths_user_groups userauths_user_groups_user_id_70ad3415_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.userauths_user_groups
    ADD CONSTRAINT userauths_user_groups_user_id_70ad3415_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userauths_user_user_permissions userauths_user_user__permission_id_0e980ebe_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.userauths_user_user_permissions
    ADD CONSTRAINT userauths_user_user__permission_id_0e980ebe_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userauths_user_user_permissions userauths_user_user__user_id_7dc84ca3_fk_userauths; Type: FK CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.userauths_user_user_permissions
    ADD CONSTRAINT userauths_user_user__user_id_7dc84ca3_fk_userauths FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

