
{% extends 'partials/dashboard_base.html' %}
{% load static %}
{% block content %}

    <!-- Dashboard -->
    <div id="dashboard">
        <a href="#" class="utf_dashboard_nav_responsive"><i class="fa fa-reorder"></i> Menu của bảng điều khiển</a>
        {% include 'partials/dashboard_sidebar.html' %}
        <div class="utf_dashboard_content">
            
           
            <div class="row"> 
                <div class="col-lg-6 col-md-12">
                  <div class="utf_dashboard_list_box margin-top-0">
                    <h4>ID đặt phòng: {{ booking.booking_id }}</h4>
                    <ul>
                      <li class="utf_approved_booking_listing">
                        <div class="utf_list_box_listing_item bookings">
                          <div class="utf_list_box_listing_item_content">
                            <div class="inner">
                              <h3>{{booking.full_name|title}} <span class="utf_booking_listing_status">{{booking.payment_status|title}}</span></h3>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Tên khách sạn:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li>{{booking.hotel.name}}</li>						  						  
                                </ul>
                              </div>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Địa chỉ khách sạn:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li><small>{{booking.hotel.address}}</small></li>						  						  
                                </ul>
                              </div>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Email khách sạn:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li>{{booking.hotel.email}}</li>						  						  
                                </ul>
                              </div>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Số điện thoại khách sạn:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li>{{booking.hotel.mobile}}</li>						  						  
                                </ul>
                              </div>
                              <hr>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Ngày nhận phòng:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li class="highlighted">{{booking.check_in_date}}</li>
                                </ul>
                              </div>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Ngày trả phòng:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li class="highlighted">{{booking.check_out_date}}</li>
                                </ul>
                              </div>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Tổng số ngày:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li class="highlighted">{{ booking.total_days }} ngày</li>
                                </ul>
                              </div>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Người lớn:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li class="highlighted">{{ booking.num_adults }} người</li>
                                </ul>
                              </div>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Trẻ em:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li class="highlighted">{{ booking.num_children }} người</li>
                                </ul>
                              </div>
                              <hr>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Họ và tên:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li class="highlighted">{{booking.full_name|title}}</li>
                                </ul>
                              </div>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Email:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li class="highlighted">{{booking.email}}</li>
                                </ul>
                              </div>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Số điện thoại:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li class="highlighted">{{booking.phone}}</li>
                                </ul>
                              </div>
                              <hr>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Giá:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li class="highlighted">{{booking.total|floatformat:0|intcomma}} ₫</li>
                                </ul>
                              </div>
                              <hr>
                              <div class="utf_inner_booking_listing_list">
                                <h5>Ngày đã đặt:</h5>
                                <ul class="utf_booking_listing_list">
                                  <li class="highlighted">{{booking.date}}</li>
                                </ul>
                              </div>				  					  
                            </div>
                          </div>
                        </div>
                        <div class="buttons-to-right "> <a href="#" class="button gray reject"><i class="fas fa-receipt "></i> Xem hóa đơn</a> </div>
                        <div class="buttons-to-right margin-top-10"> <a href="#" class="button gray reject"><i class="fas fa-ban"></i> Hủy đặt phòng</a> </div>
                      </li>
                      
                    </ul>
                  </div>		  
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="utf_dashboard_list_box margin-top-0">
                      <h4>Phòng đã đặt ({{ booking.room.all.count }})</h4>
                      <ul>
                        
                        {% for r in booking.room.all %}
                            
                            
                        <li class="utf_approved_booking_listing">
                          <div class="utf_list_box_listing_item bookings">
                            <div class="utf_list_box_listing_item_content">
                              <div class="inner">
                                <h3>{{r.room_type.type}} Phòng </h3>
                                <div class="utf_inner_booking_listing_list">
                                  <h5>Số phòng:</h5>
                                  <ul class="utf_booking_listing_list">
                                    <li>{{r.room_number}}</li>						  						  
                                  </ul>
                                </div>
                                
                                <div class="utf_inner_booking_listing_list">
                                  <h5>Giá phòng:</h5>
                                  <ul class="utf_booking_listing_list">
                                    <li class="highlighted">{{r.room_type.price|floatformat:0|intcomma}} ₫</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        {% endfor %}
                        
                      </ul>
                    </div>		  
                  </div>
              </div>
        </div>
    </div>
{% endblock content %}
